@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 768px) {
  #hero {
    background: url("../public/images/explore-banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.checkbox-container {
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 4px;
  position: relative;
}

.checkbox.checked {
  border-color: #ffb803;
}

.checkbox.checked .checkmark {
  display: block;
  color: #ffb803;
}

.checkmark {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

button.wallet-adapter-button-trigger {
  padding: 18px 154.913px 18px 152.043px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 23px;
  border: 1px solid var(--Brand-Gold-Gradient, #ffea7f);
  color: #ffea7f;
  width: 100%;
  position: relative;
}

button.wallet-adapter-button-trigger:hover {
  background: linear-gradient(149deg, #ffea7f 9.83%, #ab5706 95.76%) !important;
  color: black !important;
}
