@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black */
  --background-start-rgb: 0, 0, 0; /* Black */
  --background-end-rgb: 0, 0, 0; /* Black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 768px) {
  #hero {
    background: url('../public/images/explore-banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #lampapuy {
    background: url('../public/images/lampapuy-solana.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #getStarted {
    background: url('../public/images/get-started.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.checkbox-container {
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 4px;
  position: relative;
}

.checkbox.checked {
  border-color: #ffb803;
}

.checkbox.checked .checkmark {
  display: block;
  color: #ffb803;
}

.checkmark {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

button.wallet-adapter-button-trigger {
  padding: 18px 154.913px 18px 152.043px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 23px;
  background: transparent;
  color: transparent; /* Set the text color to transparent for gradient text */
  width: 100%;
  position: relative;
  z-index: 1;
  background-clip: text;
  background-image: linear-gradient(175deg, #ffea7f 9.83%, #ab5706 95.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.wallet-adapter-button-trigger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 23px;
  padding: 1px; /* Adjust this for border thickness */
  background: linear-gradient(175deg, #ffea7f 9.83%, #ab5706 95.76%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

button.wallet-adapter-button-trigger:hover {
  background: linear-gradient(149deg, #ffea7f 9.83%, #ab5706 95.76%);
  color: black; /* Change text color to black */
  -webkit-text-fill-color: black; /* Make sure the gradient text is replaced with black on hover */
}

button.wallet-adapter-button-trigger:hover::before {
  background: none; /* Remove the gradient border on hover */
}

/* Responsive padding adjustments */
@media (max-width: 1024px) {
  button.wallet-adapter-button-trigger {
    padding: 18px 100px; /* Adjust values for medium screens */
  }
}

@media (max-width: 768px) {
  button.wallet-adapter-button-trigger {
    padding: 12px 70px; /* Adjust values for smaller screens */
  }
}

@media (max-width: 480px) {
  button.wallet-adapter-button-trigger {
    padding: 8px 60px; /* Further adjustments for very small screens */
  }
}

/* Basic styles for the input element */
.custom-datetime-local {
  padding: 0.5rem;
  border: 0.5px solid #333;
  background-color: #0b0a0a;
  color: white;
  border-radius: 0.5rem;
  width: fit-content;
  appearance: none; /* Removes the default styling */
}

/* Styles for webkit-based browsers */
.custom-datetime-local::-webkit-datetime-edit,
.custom-datetime-local::-webkit-inner-spin-button,
.custom-datetime-local::-webkit-clear-button {
  color: white;
  background-color: #0b0a0a;
}

.custom-datetime-local::-webkit-calendar-picker-indicator {
  background-color: #0b0a0a;
  color: white;
}

/* Styles for Firefox */
.custom-datetime-local::-moz-datetime-edit,
.custom-datetime-local::-moz-inner-spin-button,
.custom-datetime-local::-moz-clear-button {
  color: white;
  background-color: #0b0a0a;
}

.custom-datetime-local::-moz-calendar-picker-indicator {
  background-color: #0b0a0a;
  color: white;
}

/* Additional styling for pseudo-elements to make the input look consistent */
.custom-datetime-local:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

/* Remove spinner */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
